/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
    line-height: 1.25;
}

p {
    font-size: .95em;
    line-height: 1.5;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Estilos header */

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    padding: 33px 80px;
}

.logo {
    width: 68px;
    float: left;
}

.logo img {
    width: 100%;
}

.main-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 160px;
}

.main-menu ul {
    list-style: none;
}

.main-menu li {
    float: left;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 18px;
}

.main-menu a:last-child {
    padding-inline-end: 16px;
}

.main-menu .log-in {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 12px 20px;
}

.main-menu a:hover {
    color: #ff00bf;
}

/* Estilos section Home */
#home {
    background-image: url('../assets/images/hero.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    overflow: auto;
    position: relative;
}

.form-left {
    width: 560px;
    height: 425px;
    background-color: #fff;
    float: right;
    margin: 118px 0 0;
    padding: 65px;
}

.form-left h1, .form-left h4 {
    color: #352384;
    margin-bottom: 15px;
    letter-spacing: 0;
}

.form-left input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #352384;
    padding: 20px 0 10px;
    color: #352384;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    margin-bottom: 16px;
}

.form-left input:focus {
    outline: none;
}

.form-left input::placeholder {
    color: #cad1e0;
}

.become {
    color: #fff;
    background-color: #ff00bf;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 10px;
}

.transition-gradient {
    height:  7rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent,#76278f);
    z-index: -1;
}

/* Estilos benefits */

#benefits {
    background: linear-gradient(#76278F, #2B1E66);
    padding: 90px 160px 70px;
    color: #fff;
    overflow: auto;
}

.info-benefits {
    width: 475px;
    float: left;
}

.info-benefits p {
    font-weight: 300;
    margin: 15px 0 55px;
}

#benefits figure {
    line-height: 0;
    width: 45%;
    float: right;
}

#benefits figure img {
    width: 100%;
}

/* Estilos secciones videos */

.video-section {
    background-color: #fff;
}

.info-section {
    width: 35%;
    float: left;
    padding: 30px 75px 0 55px;
}

.info-section h2 {
    margin-bottom: 25px;
}

iframe {
    width: 65%;
    height: 500px;
}
/*Estilos pie de pagina*/
footer{
    background-color: #333447;
    color: #fff;
    height: 600px;
    width: 100%;
}

.container-footer{
    break-inside: avoid;
    column-count: 4;
    column-gap: 50px;
    display: inline-block;
    text-align: left;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 90px;
    width: 80%;
}

.list1{ /*formato de las lista*/
     list-style: none;
     line-height: 45px;
     text-decoration: none;
}
/*imagenes de redes sociales*/
.rsocial-image{
     height: 45px;
     width: 157px;
}

h3{/*Titulos de las columna*/
    margin-bottom: 29px;
}
.container-social{
  text-align: center;
}
/*barra de navegacion en las redes sociales*/
.social ul {
  list-style: none;
}

.social li{
    color: #fff;
    display: inline-block;
    margin:15px;
}
.social li:hover{
  color:#76278F;
}
/*dando formato al hipervinculo*/
.social a {
  display: block;
  border: 1px solid #fff;
  border-radius: 100%;
  color: #fff;
  padding: 6px;
  text-decoration: none;
  width: 32px;
  height: 32px;
}

hr{
    display: inline-block;
    border: none;
    text-align:center;
    height: 1px;
    background-color: #fff;
    width: 676px;
}
footer p{
  padding-top: 20px;
}
footer p a{
  color:#fff;
  text-decoration: none;
}
footer p a:hover{
  color:#FF00BF;
  text-decoration:underline;
}
